:root {
  --color-primary: #{$--color-primary};
  --color-black: #{$--color-black};
  --color-primary-light-2: #{$--color-primary-light-2};
  --color-primary-light-4: #{$--color-primary-light-4};
  --color-primary-light-6: #{$--color-primary-light-6};
  --color-primary-light-8: #{$--color-primary-light-8};
  --color-success: #{$--color-success};
  --color-danger: #{$--color-danger};
  --color-success-light: #{$--color-success-light};
  --color-danger-light: #{$--color-danger-light};
  --color-success-lighter: #{$--color-success-lighter};
  --color-danger-lighter: #{$--color-danger-lighter};
  --color-info-light: #{$--color-info-light};
  --color-info-lighter: #{$--color-info-lighter};
  --color-text-primary: #{$--color-text-primary};
  --color-text-regular: #{$--color-text-regular};
  --color-text-secondary: #{$--color-text-secondary};
  --border-color-base: #{$--border-color-base};
  --border-color-lighter: #{$--border-color-lighter};
  --background-color-base: #{$--background-color-base};
  --link-hover-color: #{$--link-hover-color};
  --border-base: #{$--border-base};
  --font-color-disabled-base: #{$--font-color-disabled-base};
  --disabled-color-base: #{$--disabled-color-base};
  --icon-color: #{$--icon-color};
  --checkbox-font-color: #{$--checkbox-font-color};
  --checkbox-disabled-border-color: #{$--checkbox-disabled-border-color};
  --checkbox-disabled-checked-input-fill: #{$--checkbox-disabled-checked-input-fill};
  --checkbox-disabled-checked-icon-color: #{$--checkbox-disabled-checked-icon-color};
  --checkbox-checked-input-border-color: #{$--checkbox-checked-input-border-color};
  --checkbox-checked-icon-color: #{$--checkbox-checked-icon-color};
  --checkbox-button-checked-background-color: #{$--checkbox-button-checked-background-color};
  --checkbox-button-checked-border-color: #{$--checkbox-button-checked-border-color};
  --radio-input-background-color: #{$--radio-input-background-color};
  --radio-icon-color: #{$--radio-icon-color};
  --radio-disabled-icon-color: #{$--radio-disabled-icon-color};
  --radio-disabled-checked-icon-color: #{$--radio-disabled-checked-icon-color};
  --radio-checked-input-border-color: #{$--radio-checked-input-border-color};
  --radio-checked-icon-color: #{$--radio-checked-icon-color};
  --radio-button-checked-background-color: #{$--radio-button-checked-background-color};
  --radio-button-checked-border-color: #{$--radio-button-checked-border-color};
  --select-border-color-hover: #{$--select-border-color-hover};
  --select-input-color: #{$--select-input-color};
  --select-input-focus-border-color: #{$--select-input-focus-border-color};
  --select-option-disabled-color: #{$--select-option-disabled-color};
  --select-option-hover-background: #{$--select-option-hover-background};
  --select-option-selected-hover: #{$--select-option-selected-hover};
  --select-dropdown-background: #{$--select-dropdown-background};
  --select-dropdown-border: #{$--select-dropdown-border};
  --alert-info-color: #{$--alert-info-color};
  --alert-danger-color: #{$--alert-danger-color};
  --messagebox-content-color: #{$--messagebox-content-color};
  --messagebox-info-color: #{$--messagebox-info-color};
  --messagebox-danger-color: #{$--messagebox-danger-color};
  --message-close-icon-color: #{$--message-close-icon-color};
  --message-success-font-color: #{$--message-success-font-color};
  --message-warning-font-color: #{$--message-warning-font-color};
  --notification-border-color: #{$--notification-border-color};
  --notification-title-color: #{$--notification-title-color};
  --notification-close-hover-color: #{$--notification-close-hover-color};
  --notification-success-icon-color: #{$--notification-success-icon-color};
  --notification-info-icon-color: #{$--notification-info-icon-color};
  --notification-danger-icon-color: #{$--notification-danger-icon-color};
  --notification-warning-icon-color: #{$--notification-warning-icon-color};
  --input-border-color: #{$--input-border-color};
  --input-background-color: #{$--input-background-color};
  --input-icon-color: #{$--input-icon-color};
  --input-hover-border: #{$--input-hover-border};
  --input-focus-border: #{$--input-focus-border};
  --input-disabled-color: #{$--input-disabled-color};
  --cascader-menu-font-color: #{$--cascader-menu-font-color};
  --cascader-menu-border: #{$--cascader-menu-border};
  --cascader-node-color-disabled: #{$--cascader-node-color-disabled};
  --group-option-fill-hover: #{$--group-option-fill-hover};
  --tab-header-color-active: #{$--tab-header-color-active};
  --tab-header-color: #{$--tab-header-color};
  --tab-header-fill-hover: #{$--tab-header-fill-hover};
  --tab-vertical-header-count-fill: #{$--tab-vertical-header-count-fill};
  --button-default-background-color: #{$--button-default-background-color};
  --button-disabled-font-color: #{$--button-disabled-font-color};
  --button-disabled-border-color: #{$--button-disabled-border-color};
  --button-primary-border-color: #{$--button-primary-border-color};
  --button-primary-font-color: #{$--button-primary-font-color};
  --button-primary-background-color: #{$--button-primary-background-color};
  --button-success-border-color: #{$--button-success-border-color};
  --button-success-font-color: #{$--button-success-font-color};
  --button-success-background-color: #{$--button-success-background-color};
  --button-warning-border-color: #{$--button-warning-border-color};
  --button-warning-font-color: #{$--button-warning-font-color};
  --button-warning-background-color: #{$--button-warning-background-color};
  --button-danger-border-color: #{$--button-danger-border-color};
  --button-danger-font-color: #{$--button-danger-font-color};
  --button-danger-background-color: #{$--button-danger-background-color};
  --button-info-border-color: #{$--button-info-border-color};
  --button-info-font-color: #{$--button-info-font-color};
  --button-info-background-color: #{$--button-info-background-color};
  --switch-on-color: #{$--switch-on-color};
  --dialog-background-color: #{$--dialog-background-color};
  --table-border: #{$--table-border};
  --table-header-font-color: #{$--table-header-font-color};
  --table-current-row-background-color: #{$--table-current-row-background-color};
  --pagination-background-color: #{$--pagination-background-color};
  --pagination-button-color: #{$--pagination-button-color};
  --pagination-button-disabled-background-color: #{$--pagination-button-disabled-background-color};
  --popup-modal-background-color: #{$--popup-modal-background-color};
  --popover-border-color: #{$--popover-border-color};
  --popover-background-color: #{$--popover-background-color};
  --tooltip-fill: #{$--tooltip-fill};
  --tooltip-border-color: #{$--tooltip-border-color};
  --tag-primary-color: #{$--tag-primary-color};
  --tag-warning-color: #{$--tag-warning-color};
  --tree-node-hover-background-color: #{$--tree-node-hover-background-color};
  --tree-expand-icon-color: #{$--tree-expand-icon-color};
  --dropdown-menuItem-hover-color: #{$--dropdown-menuItem-hover-color};
  --card-border-color: #{$--card-border-color};
  --slider-runway-background-color: #{$--slider-runway-background-color};
  --slider-stop-background-color: #{$--slider-stop-background-color};
  --steps-border-color: #{$--steps-border-color};
  --menu-background-color: #{$--menu-background-color};
  --menu-item-hover-fill: #{$--menu-item-hover-fill};
  --rate-icon-color: #{$--rate-icon-color};
  --datepicker-off-font-color: #{$--datepicker-off-font-color};
  --datepicker-icon-color: #{$--datepicker-icon-color};
  --datepicker-inner-border-color: #{$--datepicker-inner-border-color};
  --datepicker-inrange-hover-background-color: #{$--datepicker-inrange-hover-background-color};
  --datepicker-hover-font-color: #{$--datepicker-hover-font-color};
  --scrollbar-background-color: #{$--scrollbar-background-color};
  --carousel-indicator-out-color: #{$--carousel-indicator-out-color};
  --collapse-header-background-color: #{$--collapse-header-background-color};
  --collapse-content-background-color: #{$--collapse-content-background-color};
  --transfer-border-color: #{$--transfer-border-color};
  --timeline-node-color: #{$--timeline-node-color};
  --backtop-font-color: #{$--backtop-font-color};
  --link-default-font-color: #{$--link-default-font-color};
  --link-disabled-font-color: #{$--link-disabled-font-color};
  --link-success-font-color: #{$--link-success-font-color};
  --link-danger-font-color: #{$--link-danger-font-color};
  --calendar-selected-background-color: #{$--calendar-selected-background-color};
  --avatar-background-color: #{$--avatar-background-color};
  --color-transition-base: #{$--color-transition-base};
  --color-white: #{$--color-white};
}
